[Unit]
Description=SysSync Dotfiles System Config Watcher
After=network.target

[Service]
Type=simple
ExecStart=/home/tuasananh/dotfiles/syssync watch
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
